<div class="container">
  <div class="fs-1">ALL INVOICES</div>
  <%= link_to "Create new invoice", new_invoice_path, class: "btn btn-secondary my-3" %>
  <% @invoices.each do |invoice| %>
    <ul class="list-unstyled">
      <%= link_to invoice_path(invoice), class:"text-decoration-none link-secondary" do %>
        <li>Order No.: <%= "INV#{invoice.invoice_number}" %></li>
      <% end %>
    </ul>
  <% end %>
</div>
