<div class="container">
  <div class="row justify-content-center row-cols-3 ">
    <% @invoices.sort.each do |invoice| %>
      <div class="card text-bg-light m-3 positive-relative" style="width: 15rem;">
        <div class="card-body d-flex justify-content-center align-items-center">
          <h5 class="card-title text-center">
            <%= link_to objects_invoice_path(invoice), class:"fs-4 text-decoration-none link-secondary" do %>
              <%= "INV#{invoice.invoice_number}" %>
            <% end %>
          </h5>
          <div class="d-flex position-absolute bottom-0 end-0">
            <%= link_to edit_objects_invoice_path(invoice), class: "fs-4 link-secondary p-2" do %>
              <i class="fa-solid fa-pen"></i>
            <% end %>
            <%= link_to objects_invoice_path(invoice), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this invoice?"}, class: "fs-4 link-secondary p-2" do %>
              <i class="fa-solid fa-minus"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
