// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.fs-1 {
  font-size: 33.9px !important;
}

.fs-2 {
  font-size: 21px !important;
}

.fs-3 {
  font-size: 18px !important;
}

.fs-4 {
  font-size: 16.2px !important;
}

.fs-5 {
  font-size: 12px !important;
}

body {
  font-size: 18px;
}

.content {
  height: 100vh;
  position: relative;
}

.background-layer {
  position: fixed;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-size: cover;
  background-image: url("http://res.cloudinary.com/devv0w8un/image/upload/mdhhilvsbza01jnqrmku");
  background-position-y: 60%;
  filter: grayscale(100%);
  z-index: -1;
}

// 8, 10.8, 12, 14, 22.6
// fs-1 22.6 (invoice)
// fs-2 14 (total)
// fs-3 12 (order date, order no, billed to, item no, description, qty, unit price, amount, subtotal, shipping fee, discount)
// fs-4 10.8 (default message)
// fs-5 8 (social)
